/******* GENERAL *******/
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900&display=swap&subset=latin-ext');

:root {
  --turquoise: #52989C;
  --fontColor: #878787;
  --footerBorderOrange: #F76B1C;
  --footerBorderYellow: #FAD961;
  --errorColor: #721c24;
}

* {
  font-family: 'Montserrat', sans-serif;
}

::selection {
  background: var(--turquoise);
  text-shadow: none;
  color: #fff;
}

html {
  color: var(--fontColor);
}

a {
  text-decoration: none;
}


/******* NAV *******/
.nav {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 10px auto 0;
}

.nav-btn {
  border: 1px solid var(--turquoise);
  background: #FFF;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 16px;
  color: var(--turquoise);
  width: 50%;
  margin: 0 5px;
  transition: all .20s;
}

.nav-btn.active {
  background: var(--turquoise);
  color: #FFF;
  font-weight: 600;
}



/******* MAIN *******/
.header {
  margin: 20px 0;
}
.header-title {
  font-size: 22px;
  margin: 0 auto 20px;
  padding: 0 0 10px;
  text-align: center;
  font-weight: 300;
  border-bottom: 1px solid var(--turquoise);
}

.app:after {
  content: "";
  background-image: url("images/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.08;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.app {
  width: 100%;
}

.content {
  margin: 10px;
}


.content .content-title {
  font-size: 18px;
  font-weight: 400;
}

.content-title .date {
  font-weight: 600;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.error-message {
  position: relative;
  color: #721c24;
  font-size: 14px;
  opacity: 0;
  left: -20px;
  transition: all .5s;
}

.error-message.show {
  opacity: 1;
  left: 0;
}

.date-wrapper {
  margin-bottom: 16px;
}

.reset-button {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  color: var(--turquoise);
}

.input-label {
  display: block;
  font-weight: 400;
  font-size: 20px;
}

.or-wrapper {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  margin: 10px 0;
}

.input {
  font-size: 20px;
  -webkit-appearance: none;
  border: 1px solid var(--turquoise);
  color: var(--turquoise);
  font-weight: 600;
  border-radius: 6px;
  padding: 6px 10px;
  max-width: 170px;
}

/* Flatpickr */
.flatpickr-months,
.flatpickr-weekdays,
.flatpickr-months .flatpickr-month,
.flatpickr-monthDropdown-months,
.flatpickr-weekdaycontainer,
span.flatpickr-weekday {
  background: var(--turquoise) !important;
}

.flatpickr-prev-month,
.flatpickr-next-month {
  fill: white !important;
}

.flatpickr-month,
.flatpickr-weekday {
  color: white !important;
}

.flatpickr-day.today {
  border-color: var(--turquoise) !important;
}

.flatpickr-day.selected {
  background: var(--turquoise) !important;
}

/* AGE */
.age {
  border: 1px solid var(--turquoise);
  width: 150px;
  margin: 40px auto 10px;
  background: var(--turquoise);
  border-radius: 16px;
  color: #FFF;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.age .age-number {
  font-size: 40px;
  text-align: center;
  margin: 10px 0;
}

.age .age-text {
  font-weight: 200;
  text-align: center;
  margin-bottom: 10px;
}

.age .gender-sign {
  text-align: center;
  margin-top: 10px;
  font-weight: 200;
}


/******* FOOTER *******/
html, body, #root, .app, .animation-container {
  height: 100%;
}
.animation-container {
  display: flex;
  flex-direction: column;
}
.wrapper {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.footer {
  text-align: center;
  font-size: 1rem;
  font-weight: 100;
  margin: 0 5px 5px;
  color: #BBB;
}

.footer a {
  display: inline-block;
  padding: 10px 10px 10px 0;
  color: #BBB;
  margin-left: 6px;
}

.footer .footer-border {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 1px;
  background: linear-gradient(to left, var(--footerBorderOrange), var(--footerBorderYellow));
}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}



/* iPhone SE landscape */
@media only screen
and (min-width: 568px) {
  .date-age-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .date-wrapper {
    margin: 0;
  }

  .dates .date-wrapper {
    margin-bottom: 10px;
  }

  .age {
    margin: 0;
  }
}

/* iPhone 8 landscape */
@media only screen
and (min-width: 667px) {

}

/* iPhone 8 Plus landscape */
@media only screen
and (min-width: 736px) {
  .app:after {
    background-size: auto;
  }
}

/* iPhone X landscape */
@media only screen
and (min-width: 812px) {
}

/* iPad */
@media only screen
and (min-width: 768px) {
  .content {
    margin: 40px;
  }

  .header {
    display: flex;
    border-bottom: 1px solid var(--turquoise);
    margin: 0;
    align-items: center;
    padding: 20px 15px;
  }

  .header-title {
    border: none;
    width: 220px;
    margin: 0;
    padding: 0;
    font-size: 24px;
  }

  .nav {
    margin: 0;
    justify-content: flex-end;
  }

  .nav-btn {
    width: 220px;
    padding: 12px;
  }

  .date-age-wrapper {
    justify-content: flex-start;
    margin-top: 40px;
  }

  .age {
    margin-left: 30px;
  }

  .content .content-title {
    font-size: 24px;
  }
}

/* Desktop */
@media only screen
and (min-width: 1024px) {
}